@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
.first-child:hover {
  perspective: 1000px;
  transform-origin: top right;
  transform: rotateX(25deg) rotateY(-15deg) rotateZ(15deg);
}
.second-child:hover {
  perspective: 1000px;
  transform-origin: top left;
  transform: rotateX(-25deg) rotateY(-15deg) rotateZ(-15deg);
}

.video-gallery .swiper-slide-prev {
  scale: 1.1;
}
.video-gallery .swiper-slide-next {
  scale: 1.1;
}
.video-gallery .swiper-slide-active {
  scale: 1.2;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}