@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
.first-child:hover {
  perspective: 1000px;
  transform-origin: top right;
  transform: rotateX(25deg) rotateY(-15deg) rotateZ(15deg);
}
.second-child:hover {
  perspective: 1000px;
  transform-origin: top left;
  transform: rotateX(-25deg) rotateY(-15deg) rotateZ(-15deg);
}

.swiper-slide-prev {
  scale: 1.1;
}
.swiper-slide-next {
  scale: 1.1;
}
.swiper-slide-active {
  scale: 1.2;
}
